<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Runner</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <link href="./game.css" rel="stylesheet"/>

    <script>
      const coinProb = 0.1;
      const blockProb = 0.07;
      const app = angular.module("game", []);

      app.controller("game", function($scope) {
        $scope.steps = 200;
        $scope.width = 3;

        function createLane() {
          const lane = [];

          for (let i = 0; i < $scope.steps; i++) {
            const rnd = Math.random();
            if (rnd < coinProb) {
              lane.push('coin');
            } else if (rnd - coinProb < blockProb) {
              lane.push('block');
            } else {
              lane.push('');
            }
          }

          return lane;
        }

        $scope.init = function() {
          $scope.lanes = new Array($scope.width).fill().map(createLane);
        }

        $scope.init();
      });
    </script>
  </head>

  <body>
    <div ng-app="game" class="game" ng-controller="game">

      <div class="road">
        <div ng-repeat="lane in lanes track by $index" class="lane">
          <div ng-repeat="cell in lane track by $index" class="cell" ng-switch="cell">
            <div ng-switch-when="coin" class="coin"></div>
            <div ng-switch-when="block" class="block"></div>
          </div>
        </div>
      </div>

      <div class="sky"></div>
    </div>
  </body>
</html>
